*{
  box-sizing: border-box;
}
header{
  /* Add height and width here */
  background-color: lightcyan;
  text-align: center;
  width: 100vw;
  height: 30vh;
}

.middle-section{
  /* Add height and width here */
  width: 100vw;
  height: 70vh;
  /* Add flex properties here */
  display: flex;
}

aside{
  /* Add height and width here */
  background-color: lightseagreen;
  width: 25vw;
  height: 100%;
}

.image-section{
  /* Add height and width here */
  background-color: aliceblue;
  /* Add flex properties here */
  height: 75vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

footer{
  /* Add height and width here */
  background-color: lime;
  display: block;
  width: 100vw;
  height: 20vh;
}

body {
  display: flex;
  flex-direction: column;
}